In [ ]:
# nested loops
for i in range(1,5):
  print("person",i)

person 1
person 2
person 3
person 4

In [ ]:
for i in range(1,5):
  print("person",i)
  break

person 1

In [ ]:
for i in range(1,5):
  print("person",i)
  for j in range(1,5):
    print("good morning",j)

person 1
good morning 1
good morning 2
good morning 3
good morning 4
person 2
good morning 1
good morning 2
good morning 3
good morning 4
person 3
good morning 1
good morning 2
good morning 3
good morning 4
person 4
good morning 1
good morning 2
good morning 3
good morning 4

In [ ]:
for i in range(1,5):
  print("person",i)
  for j in range(1,5):
    print("good morning=>","i",i,"j",j)

person 1
good morning=> i 1 j 1
good morning=> i 1 j 2
good morning=> i 1 j 3
good morning=> i 1 j 4
person 2
good morning=> i 2 j 1
good morning=> i 2 j 2
good morning=> i 2 j 3
good morning=> i 2 j 4
person 3
good morning=> i 3 j 1
good morning=> i 3 j 2
good morning=> i 3 j 3
good morning=> i 3 j 4
person 4
good morning=> i 4 j 1
good morning=> i 4 j 2
good morning=> i 4 j 3
good morning=> i 4 j 4

In [ ]:
for i in range(1,5):
  print("person",i)
  for j in range(5,1,-1):
    print("good morning",j)

person 1
good morning 5
good morning 4
good morning 3
good morning 2
person 2
good morning 5
good morning 4
good morning 3
good morning 2
person 3
good morning 5
good morning 4
good morning 3
good morning 2
person 4
good morning 5
good morning 4
good morning 3
good morning 2

In [ ]:
for i in range(5,1,-1):
  print("person",i)
  for j in range(1,5):
    print("good morning",j)

person 5
good morning 1
good morning 2
good morning 3
good morning 4
person 4
good morning 1
good morning 2
good morning 3
good morning 4
person 3
good morning 1
good morning 2
good morning 3
good morning 4
person 2
good morning 1
good morning 2
good morning 3
good morning 4

In [ ]:
for i in range(1,5):
  print("person",i)
  for j in range(1,i+1): #(1,1+1) (1,2+1) (1,3+1)
    print("good morning",j)

person 1
good morning 1
person 2
good morning 1
good morning 2
person 3
good morning 1
good morning 2
good morning 3
person 4
good morning 1
good morning 2
good morning 3
good morning 4

In [ ]:
for i in range(1,5):
    print("person",i)
    for j in range(i,5):
        print("good morning",j)

person 1
good morning 1
good morning 2
good morning 3
good morning 4
person 2
good morning 2
good morning 3
good morning 4
person 3
good morning 3
good morning 4
person 4
good morning 4

In [ ]:
for i in range(5,1,-1):
    print("person",i)
    for j in range(6,i,-1):
        print("good morning",j)

person 5
good morning 6
person 4
good morning 6
good morning 5
person 3
good morning 6
good morning 5
good morning 4
person 2
good morning 6
good morning 5
good morning 4
good morning 3

In [ ]:
for i in range(5,1,-1):
    print("person",i)
    for j in range(i,6):
        print("good morning",j)

person 5
good morning 5
person 4
good morning 4
good morning 5
person 3
good morning 3
good morning 4
good morning 5
person 2
good morning 2
good morning 3
good morning 4
good morning 5

In [ ]:
# table 2,3,4,5,6
for i in range(2, 7):
    for j in range(1, 11):
        print(i*j,end=" ")

2 4 6 8 10 12 14 16 18 20 3 6 9 12 15 18 21 24 27 30 4 8 12 16 20 24 28 32 36 40 5 10 15 20 25 30 35 40 45 50 6 12 18 24 30 36 42 48 54 60

In [ ]:
for i in range(2,7,2):
  if(i%2==0):
    print("even number",i)
  for j in range(1, 11):
        print(i*j)

even number 2
2
4
6
8
10
12
14
16
18
20
even number 4
4
8
12
16
20
24
28
32
36
40
even number 6
6
12
18
24
30
36
42
48
54
60

In [ ]:
# prime number
num=13
a=0
for x in range(2,num):
    if(num%x==0):
        a=1
        break

if(a==1):
    print("not a prime",num)
else:
    print("prime number",num)

prime number 13

In [ ]:
for n in range(2,12):
  a=0
  for i in range(2,n):
    if(n%i==0):
      a=1
      break

  if(a==0):
    print("prime number",n)
  else:
    print("not prime",n)

prime number 2
prime number 3
not prime 4
prime number 5
not prime 6
prime number 7
not prime 8
not prime 9
not prime 10
prime number 11

In [ ]:
# 140 to 160 check armstrong
for n in range(140,161):
  a=0
  b=n
  while(b>0):
    rem=b%10
    a+=rem**3
    b//=10
  if(n==a):
    print("armstrong",n)
  else:
    print("not armstrong",n)

not armstrong 140
not armstrong 141
not armstrong 142
not armstrong 143
not armstrong 144
not armstrong 145
not armstrong 146
not armstrong 147
not armstrong 148
not armstrong 149
not armstrong 150
not armstrong 151
not armstrong 152
armstrong 153
not armstrong 154
not armstrong 155
not armstrong 156
not armstrong 157
not armstrong 158
not armstrong 159
not armstrong 160

In [ ]:
for i in range(1,5):
  for j in range(1,5):
    print("*",end=" ")

  print("")

* * * *
* * * *
* * * *
* * * *

In [ ]:
for i in range(1,5):
  for j in range(1,4):
    print("*", end=" ")

  print("")

* * *
* * *
* * *
* * *